@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

.invert-icon {
    filter: invert(1);
}

.active-nav {
    border-bottom: 2px;
    border-color: black;
    border: 2px;
}